<h1>
  <a href="{{ pathto(master_doc) }}">
    <img
      style="max-width:100%;height:auto"
      src="{{ pathto('_static/images/uactor-title.96.png', 1) }}"
      alt="{{ project }}">
  </a>
</h1>
<ul>
  <li>
    <a href="http://gitlab.com/ergoithz/uactor">uActor at GitLab</a>
  </li>
  <li>
    <a href="http://pypi.python.org/pypi/uactor">uActor at PyPI</a>
  </li>
  <li>
    <a href="http://gitlab.com/ergoithz/uactor/issues">Issue tracker</a>
  </li>
</ul>
<!--versions-->
